// Custom.scss
@font-face {
  font-family:  Lovelice;
  src: url('../fonts/LovelaceRegular.otf');
}
@font-face {
  font-family: PorporaReg;
  src: url('../fonts/PorporaReg.ttf');
}
@font-face {
  font-family:  CoconatReg;
  src: url('../fonts/CoconatReg.otf');
}

// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here


// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
//@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
//@import "../node_modules/bootstrap/scss/utilities/api";

// 8. Add additional custom code here
$defaultBrown : #d49b72;
$homebg:#e8edf0;
$homebgtwoo : #efe9e4;
a{
  color:unset !important;
  text-decoration: none !important;
}
body {
    font-family: PorporaReg, sans-serif;
    color: #1b1d1e;
    font-size: 16px;
    line-height: 24px;
    background-color: $homebg;
  }

  //container-fluid
  .container-fluid {
    max-width: 1640px;
  }
button{
  border: none;
  background-color: transparent;
}
  h1 {
    margin-top: 20px;
    margin-bottom: 24px;
    font-family: CoconatReg, sans-serif;
    font-size: 40px;
    line-height: 56px;
    font-weight: 400;
    @include media-breakpoint-up(xl) {
      font-size: 56px;
      margin-top: 24px;
      line-height: 68px;
    }
  }

  h2 {
    margin-top: 0px;
    font-family: CoconatReg, sans-serif;
    font-size: 40px;
    font-weight: 100;
    line-height: 56px;
    font-stretch: condensed;
    @include media-breakpoint-up(xl) {
      font-size: 1rem;
    }
  }

  h3 {
    margin-top: 0px;
    font-size: 32px;
    line-height: 40px;
    font-family: CoconatReg, sans-serif;

    font-weight: 400;
  }

  h4 {
    margin-top: 0px;
    margin-bottom: 12px;
    font-family: CoconatReg, sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
  }

  h5 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: CoconatReg, sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
  }

  h6 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  p {
    margin-bottom: 0px;
    @include media-breakpoint-up(xl)
  }
  img {
    max-width: 100%;
    height: auto;
  }
nav{
   ul{
    list-style: none;
    padding:0;
    li{
      a{
        text-decoration: none;
        color: #222222;
      }
      
    }
  }
}
.p-0{
  padding: 0;
}
.booking-btn{
  background: #96695e;
  margin: 0 2rem !important;
  border: none;
  border-radius: 50px;
  @include media-breakpoint-up(lg) {
    a{
      color: #fff !important;
    }
  }
}
//hamburger
 

.slice{
  transform: translateY(10px) translateX(1px) rotate(45deg);
}
.slice2{
  transform: rotateY(90deg);
}
.slice3{
  transform: translateY(-6px) translateX(-1px) rotate(-45deg) ;
}
.sliceAnimation{
  transition: all 900ms ease-in-out;
}
.sliceAnimationOut{
  transition: all 500ms ease-in-out;
}
.open{
  transform: translateX(0);
}
.closed{
  transform: translateX(100%);
  
}

/*-------------- homeCss-------*/
.homeImage{
padding: 2rem 0;
position: relative;
  @include media-breakpoint-up(lg){ 
  padding: unset;
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  }
}
.img-wrapper {
  position: relative;

  left: 5%;
  
  padding: 60% 0;
  @include media-breakpoint-up(lg){
    left: -50px;
    top: 5%;
    padding: 45%;
  }
}
.bigFont{
  max-width: 410px;
  font-size: 18px;
  line-height: 30px;
}
/* From uiverse.io by @alexroumi */
.btn{
  margin: 35px 0;
}
.btn {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 20px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
 }
 
 .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 .btn:hover {
  color: #e8e8e8;
 }
 
 .btn:hover::before {
  width: 100%;
 }
.centerbox{

  @include media-breakpoint-up(lg){
    padding: 70px;
  }
}
.section_2{
  background-color: #fff;
  width: 100%;
  padding-top: 500px;
}
  // Source mixins

// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
// @include media-breakpoint-up(sm) { ... }
// @include media-breakpoint-up(md) { ... }
// @include media-breakpoint-up(lg) {
//   .d-none{
//     display: block;
//   }
//  }
// @include media-breakpoint-up(xl) { ... }
// @include media-breakpoint-up(xxl) { ... }
