// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here


// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
//@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
//@import "../node_modules/bootstrap/scss/utilities/api";

// 8. Add additional custom code here
$defaultBrown : #d49b72;

body {
    font-family: Porpora, sans-serif;
    color: #1b1d1e;
    font-size: 16px;
    line-height: 24px;
    background-color: #efe9e4;
  }

  h1 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-family: Coconat, sans-serif;
    font-size: 56px;
    line-height: 68px;
    font-weight: 400;
  }

  h2 {
    margin-top: 0px;
    margin-bottom: 16px;
    font-family: Coconat, sans-serif;
    font-size: 40px;
    line-height: 56px;
    font-weight: 400;
  }

  h3 {
    margin-top: 0px;
    margin-bottom: 12px;
    font-family: Coconat, sans-serif;
    font-size: 32px;
    line-height: 40px;
    font-weight: 400;
  }

  h4 {
    margin-top: 0px;
    margin-bottom: 12px;
    font-family: Coconat, sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
  }

  h5 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: Coconat, sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
  }

  h6 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  p {
    margin-bottom: 0px;
  }
  img {
    max-width: 100%;
    height: auto;
  }

 
  // Source mixins

// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
// @include media-breakpoint-up(sm) { ... }
// @include media-breakpoint-up(md) { ... }
// @include media-breakpoint-up(lg) {
//   .d-none{
//     display: block;
//   }
//  }
// @include media-breakpoint-up(xl) { ... }
// @include media-breakpoint-up(xxl) { ... }
