@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
//font
@font-face {
    font-family:  Lovelice,sans-serif;
    src: url('../fonts/LovelaceRegular.otf');
  }

//variables.
$defaultBrown : #d49b72;
$navlink : #96695e;
$titleFont: Lovelace, sans-serif;
$homebg:#e8edf0;

/****************************************************************menu, navigationbar *********/
//menu
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    overflow: hidden;
    
    @include media-breakpoint-up(lg) {
        .hideMenu{
        width: 50%;
    }
    }
    
}
//menu-bar
.menuBar{
    width: 65px;
    height: 18px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 15px;
    z-index: 4;
    @include media-breakpoint-up(lg) { 
        display: none;
    }
}
.menuBarSlice{
    width:100%;
    height:2px;
    background-color:$navlink;
    display: block;
}
.menubarSliceGone{
    transition: all 1000ms ease-in-out;
}
//brand
.brand{
    padding:10px 0;
    margin-left: auto;
    margin-right: 5px;
    @include media-breakpoint-up(md) {
        margin-right: auto;
    }
    @include media-breakpoint-up(lg) {
        margin-left: unset;
        margin-right: unset;
    }
}
.brandImg {
    width: 250px;
}
//navdisplay 
.display{
    position: fixed;
    padding-top: 5rem;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: $homebg;
    height: 100%;
    //tijdlijk mag daarna weg 
    li{
        height: 100px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        }
        a{
            font-size: 1rem;
            font-weight: semibold;
            font-stretch: condensed;
            
        }
        
    @include media-breakpoint-up(lg) {
        padding-top: unset;
        width: 100%;
        display: inline-flex;
        justify-content: flex-end;
        position: unset;
        background-color: transparent;
        transform: unset;
        li{
            height: unset;
            margin: unset;
            display: unset;
            justify-content: unset;
            align-items: unset;
            padding: 6px 12px;
            a{
                color: #222222;
                opacity: .7;
                &:hover{
                    opacity: 1;
                }
                @include media-breakpoint-up(xxl) {
                  
                }
            }
            }
    }
}
//right to left
.open{
    transform: translateX(0);
}
.closed{
    transform: translateX(100%);
}
/********* HomeCSS ********************************/
.homeRow{
    padding: 1rem;
    h2{
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
@include media-breakpoint-up(xxl) {
    padding: 3rem;
}
}
.lineWrap {
    position: relative;
    
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    
    margin-bottom: -80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .line {
    width: 1px;
    height: 80px;
    background-color: #1b1d1e;
  }
  .doodle{
    position: absolute;
    bottom: -435px;
    right: 0;
    z-index: -1;
    @include media-breakpoint-up(lg) {
        bottom: 10%;
        left: 0;
        transform: rotateY(180deg)
    }

  }
  .doodle2{
    width: 80%;
    position: absolute;
    top: 10%;
    left: 5%;
    @include media-breakpoint-up(lg){
    width:65%;
    left: 0px;
    
    }

}

// Source mixins

// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
// @include media-breakpoint-up(sm) { ... }
// @include media-breakpoint-up(md) { ... }

// @include media-breakpoint-up(xl) { ... }
// @include media-breakpoint-up(xxl) { ... }

// Usage

// Example: Hide starting at `min-width: 0`, and then show at the `sm` breakpoint
// .custom-class {
//   display: none;
// }
// @include media-breakpoint-up(sm) {
//   .custom-class {
//     display: block;
//   }
// }